<p id="notice"><%= notice %></p>

<div class="top-space center-xs">
    <p>
    <strong>Nombre:</strong>
    <%= @faculty.name %>
  </p>
  
  <%= link_to 'Editar', edit_faculty_path(@faculty),class:"underline" %> |
  <%= link_to 'Atras', faculties_path,class:"underline" %>
</div>

