html,body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.btn{
    background-color: inherit;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size:1.2em;
    padding: 10px 12px;
}
ul {
    list-style:none;
    margin:20px;
}
.no-margin{
    margin: 0px;
}
.be-red{
    background-color: #E74C3C;
}

.be-green{
   background-color: #7EBB41; 
}

.white{
    color: #ECF0F1;
}
a,a:visited{
    color: inherit ;
    text-decoration: none;
}
.red{
 color:#E74C3C !important;   
}
.blue{
    color:#0D74AB !important;
}
.grey{
    color:#7F7B76;
}
.large-padding{
    padding: 15px 7px;
}

.green{
    color: #7EBB41 !important;
}

.field, .top-space, .actions{
    margin-top:1em;
}

.absolute{
    position:absolute;
}
.relative{
    position:relative;
}
.article-height{
    height:150px;
}
.background-cover{
    background-position:center !important;
    background-size:cover !important;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    display: block;
    padding: 10px 0px;
    font-size: 1.5em;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align:center;
}
.text-justify{
    text-align:justify;
}
.beg-big{
    font-size:2em;
}
.bottom-space{
    margin-bottom:2em;
}
.be-small{
    font-size:12px;
}
.underline{
    text-decoration:underline;
}
.hidden{
    display:none !important;
}